110919/imgProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="imgProcess"
 targetNamespace="http://localhost/imgProcess.wsdl"
 xmlns:tns="http://localhost/imgProcess.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:img"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:img"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:img"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="loadMatRequest">
 <part name="InputImageFilename" type="xsd:string"/>
 <part name="loadparam" type="xsd:int"/>
</message>

<message name="loadMatResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="binaryThresholdRequest">
 <part name="InputMatFilename" type="xsd:string"/>
 <part name="thresholdValue" type="xsd:double"/>
 <part name="maxValue" type="xsd:double"/>
</message>

<message name="binaryThresholdResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="morphOpenRequest">
 <part name="InpuMattFilename" type="xsd:string"/>
</message>

<message name="morphOpenResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="MatToJPGRequest">
 <part name="InputMatFilename" type="xsd:string"/>
</message>

<message name="MatToJPGResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="findContoursAndFillpoly">
 <part name="InputMatFilename" type="xsd:string"/>
 <part name="lowerBound" type="xsd:int"/>
</message>

<message name="FindContours">
 <part name="smallerArea" type="xsd:string"/>
 <part name="biggerArea" type="xsd:string"/>
</message>

<message name="erodeRequest">
 <part name="src" type="xsd:string"/>
 <part name="element" type="xsd:string"/>
 <part name="iteration" type="xsd:int"/>
</message>

<message name="erodeResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="dilateRequest">
 <part name="src" type="xsd:string"/>
 <part name="element" type="xsd:string"/>
 <part name="iteration" type="xsd:int"/>
</message>

<message name="dilateResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="OrRequest">
 <part name="src1" type="xsd:string"/>
 <part name="src2" type="xsd:string"/>
</message>

<message name="OrResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="AndRequest">
 <part name="src1" type="xsd:string"/>
 <part name="src2" type="xsd:string"/>
</message>

<message name="AndResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="NotRequest">
 <part name="src" type="xsd:string"/>
</message>

<message name="NotResponse">
 <part name="OutputMatFilename" type="xsd:string"/>
</message>

<message name="removeSmallCell">
 <part name="inputMatFilename" type="xsd:string"/>
</message>

<message name="RemoveSmallCell">
 <part name="keepedArea" type="xsd:string"/>
 <part name="biggerArea" type="xsd:string"/>
</message>

<message name="scanningCellRequest">
 <part name="inputMatFilename" type="xsd:string"/>
</message>

<message name="scanningCellResponse">
 <part name="outputMatFilename" type="xsd:string"/>
</message>

<portType name="imgProcessPortType">
 <operation name="loadMat">
  <documentation>Service definition of function ns__loadMat</documentation>
  <input message="tns:loadMatRequest"/>
  <output message="tns:loadMatResponse"/>
 </operation>
 <operation name="binaryThreshold">
  <documentation>Service definition of function ns__binaryThreshold</documentation>
  <input message="tns:binaryThresholdRequest"/>
  <output message="tns:binaryThresholdResponse"/>
 </operation>
 <operation name="morphOpen">
  <documentation>Service definition of function ns__morphOpen</documentation>
  <input message="tns:morphOpenRequest"/>
  <output message="tns:morphOpenResponse"/>
 </operation>
 <operation name="MatToJPG">
  <documentation>Service definition of function ns__MatToJPG</documentation>
  <input message="tns:MatToJPGRequest"/>
  <output message="tns:MatToJPGResponse"/>
 </operation>
 <operation name="findContoursAndFillpoly">
  <documentation>Service definition of function ns__findContoursAndFillpoly</documentation>
  <input message="tns:findContoursAndFillpoly"/>
  <output message="tns:FindContours"/>
 </operation>
 <operation name="erode">
  <documentation>Service definition of function ns__erode</documentation>
  <input message="tns:erodeRequest"/>
  <output message="tns:erodeResponse"/>
 </operation>
 <operation name="dilate">
  <documentation>Service definition of function ns__dilate</documentation>
  <input message="tns:dilateRequest"/>
  <output message="tns:dilateResponse"/>
 </operation>
 <operation name="Or">
  <documentation>Service definition of function ns__Or</documentation>
  <input message="tns:OrRequest"/>
  <output message="tns:OrResponse"/>
 </operation>
 <operation name="And">
  <documentation>Service definition of function ns__And</documentation>
  <input message="tns:AndRequest"/>
  <output message="tns:AndResponse"/>
 </operation>
 <operation name="Not">
  <documentation>Service definition of function ns__Not</documentation>
  <input message="tns:NotRequest"/>
  <output message="tns:NotResponse"/>
 </operation>
 <operation name="removeSmallCell">
  <documentation>Service definition of function ns__removeSmallCell</documentation>
  <input message="tns:removeSmallCell"/>
  <output message="tns:RemoveSmallCell"/>
 </operation>
 <operation name="scanningCell">
  <documentation>Service definition of function ns__scanningCell</documentation>
  <input message="tns:scanningCellRequest"/>
  <output message="tns:scanningCellResponse"/>
 </operation>
</portType>

<binding name="imgProcess" type="tns:imgProcessPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="loadMat">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="binaryThreshold">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="morphOpen">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="MatToJPG">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="findContoursAndFillpoly">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="erode">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="dilate">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Or">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="And">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Not">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeSmallCell">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="scanningCell">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="imgProcess">
 <documentation>gSOAP 2.7.17 generated service definition</documentation>
 <port name="imgProcess" binding="tns:imgProcess">
  <SOAP:address location="http://localhost/cgi-bin/imgProcessServer"/>
 </port>
</service>

</definitions>
