110621/img.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="img"
 targetNamespace="http://localhost/img.wsdl"
 xmlns:tns="http://localhost/img.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:img"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:img"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:img"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="Ipl1ChToMat">
 <part name="InputFilename" type="xsd:string"/>
</message>

<message name="ImgData">
 <part name="-imgHeight" type="xsd:int"/>
 <part name="-imgWidth" type="xsd:int"/>
 <part name="-sharedKey" type="xsd:int"/>
</message>

<message name="BinaryThreshold">
 <part name="dataInput" type="ns:ImgData"/>
 <part name="threshold" type="xsd:double"/>
 <part name="maxValue" type="xsd:double"/>
</message>

<message name="MorphOpenRequest">
 <part name="InputFilename" type="xsd:string"/>
 <part name="filename" type="xsd:string"/>
</message>

<message name="MorphOpenResponse">
 <part name="OutputFilename" type="xsd:string"/>
</message>

<portType name="imgPortType">
 <operation name="Ipl1ChToMat">
  <documentation>Service definition of function ns__Ipl1ChToMat</documentation>
  <input message="tns:Ipl1ChToMat"/>
  <output message="tns:ImgData"/>
 </operation>
 <operation name="BinaryThreshold">
  <documentation>Service definition of function ns__BinaryThreshold</documentation>
  <input message="tns:BinaryThreshold"/>
  <output message="tns:ImgData"/>
 </operation>
 <operation name="MorphOpen">
  <documentation>Service definition of function ns__MorphOpen</documentation>
  <input message="tns:MorphOpenRequest"/>
  <output message="tns:MorphOpenResponse"/>
 </operation>
</portType>

<binding name="img" type="tns:imgPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="Ipl1ChToMat">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="BinaryThreshold">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="MorphOpen">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:img" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="img">
 <documentation>gSOAP 2.7.17 generated service definition</documentation>
 <port name="img" binding="tns:img">
  <SOAP:address location="http://localhost/cgi-bin/imgSrv"/>
 </port>
</service>

</definitions>
